:root{
    --logo-color: #000;
    --logo-dark-color: #fff;
    /* --bs-dark-rgb: #353F4F; */
    /* --bs-body-bg: var(--bs-body-bg); */
}

nav > div > button {
    /* width: auto; */
    border:none !important;
}

.navbar-nav > li {
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
}

.logos-navbar {
    width: 100%;
    height: 200px;
}

.logos-navbar > img {
   width: 100px;

}

.logos-navbar > img > path {
    fill: var(--logo-color);
}


@media screen and (min-width: 768px) {
    nav {
        position: fixed !important;
        width: 80px;
        height: 100vh;
        background: #353F4F;
    
    }
    nav > div {
        width: 100%;
        height: 100%;
    }

    nav > div > button {
        width: 77%;
    }
    
}

